<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
      <ion-buttons slot="start">
        <ion-back-button default-href="#"></ion-back-button>
      </ion-buttons>
      <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list mode="ios">
    <ion-item color="light">
      <ion-label>Majo</ion-label>
      <ion-badge color="primary">Lesbiana</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Magtin</ion-label>
      <ion-badge color="secondary">drogado</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Elian</ion-label>
      <ion-badge color="tertiary">34k</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Fofo</ion-label>
      <ion-badge color="success">Ojos de rubí</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Carlos</ion-label>
      <ion-badge color="warning">Amarillo chorrillo</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Emma</ion-label>
      <ion-badge color="danger">Está reprobado </ion-badge>
    </ion-item>
  </ion-list>
  <ion-list mode="android">
    <ion-item color="light">
      <ion-label>Followers</ion-label>
      <ion-badge color="primary">22k</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Likes</ion-label>
      <ion-badge color="secondary">118k</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Stars</ion-label>
      <ion-badge color="tertiary">34k</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Completed</ion-label>
      <ion-badge color="success">80</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Warnings</ion-label>
      <ion-badge color="warning">70</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Notifications</ion-label>
      <ion-badge color="danger">1000</ion-badge>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll>
    <ion-infinite-scroll-content loadingText="I don't like moning people. or mornings. or people" loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>


  <ion-list mode="ios">
    <ion-item>
      <ion-checkbox justify="start">Packed at the Start of Line</ion-checkbox>
    </ion-item>
  
    <ion-item>
      <ion-checkbox justify="end">Packed at the End of Line</ion-checkbox>
    </ion-item>
  
    <ion-item>
      <ion-checkbox justify="space-between">Space Between Label and Control</ion-checkbox>
    </ion-item>
  </ion-list>




</ion-content>
