<ion-toolbar>
  <ion-buttons slot="secondary">
    <ion-button>
      <ion-icon slot="icon-only" name="camera"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="primary">
    <ion-button>
      <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Chat Bot</ion-title>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-list>
    <!-- <ion-item *ngFor="let message of messages">
      <ion-avatar slot="start">
        <img src="assets/icon/favicon.png">
      </ion-avatar>
      <ion-label>
        <h2>{{message.text}}</h2>
        <p>{{message.time}}</p>
      </ion-label>
    </ion-item> -->
  
<!-- ngFor verificar el arreglo y tomar con la 
 2. Crear 2 proyectos con la plantilla con tabs, 1 de whats y otro de instagram, photogram  -->
  <app-item-chat usename="Eliezer"
  message="Eres mi amigo fiel ⭐🦦" 
  date="13:44"
  avatarUrl="https://ionicframework.com/docs/img/demos/avatar.svg"></app-item-chat>
</ion-list>
</ion-content>
