<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form #tulioTrevino="ngForm" (ngSubmit)="login(tulioTrevino)">

    <ion-input name="email" [(ngModel)]="email" label="Correo electrónico" label-placement="floating" fill="outline"
      placeholder="Ingresa tu correo" type="email" required=" {alert} Debes de llenar este campo"></ion-input>

    <ion-input name="password" [(ngModel)]="password" label="Contraseña" label-placement="floating" fill="outline"
      placeholder="Ingresa tu contraseña" type="password" required="Debes de llenar este campo"></ion-input>

    <ion-button type="submit" color="light">Enviar</ion-button>

  </form>

  <ion-text>
    <p>
      ¿No tienes una cuenta?
      <a routerLink="/registro">Sacate alv</a>
    </p>
  </ion-text>

</ion-content>